{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link href="{% static 'assets/plugins/bower_components/datatables/jquery.dataTables.min.css' %}" rel="stylesheet"
          type="text/css"/>

    <style>
        b {
            color: red;
        }

        .floating-labels .form-control {
            font-size: 15px !important;
        }
    </style>
{% endblock %}
{% block titlecontainer %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">LISTADO</h4></div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li>Catalogos</li>
                <li class="active">Proveedores</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}
{% block container %}
    <div class="row">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissable col-lg-12">

                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span>
            {% if message.extra_tags == '¡Éxito!' %}
                <i class="fa fa-check"></i>
            {% elif message.extra_tags == '¡Error!' %}
                <i class="fa fa-exclamation-triangle"></i>
            {% endif %}
                    {{ message }}
                </span>
            </div>
        {% endfor %}
        <div class="col-lg-12 text-right">
            <div class="button-box">
                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal"> Importar <i
                        class="ti-share-alt ml-3"
                        style="font-size: 1.5rem"></i></button>
{#                <button class="btn btn-info"> Exportar <i class="ti-share ml-3"#}
{#                                                          style="font-size: 1.5rem"></i></button>#}

                <button class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg"> Nuevo Proveedor
                    <i
                            class="ti-shopping-cart ml-3"
                            style="font-size: 1.5rem"></i></button>
            </div>
        </div>
        <div class="col-lg-12 mt-5">
            <div class="table-responsive">
                <table id="myTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Proveedor</th>
                        <th> Nombre Corto</th>
                        <th> Dirección</th>
                        <th> Contactos</th>
                        <th>Estatus</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for proveedor in proveedores %}
                        <tr>
                            <td>{{ proveedor.nombre }}</td>
                            <td>{{ proveedor.nombre_corto }}</td>
                            <td>{{ proveedor.numero }}, {{ proveedor.calle }} {{ proveedor.cuidad.estado.nombre}}, {{ proveedor.cuidad.nombre }} - {{ proveedor.cp }}</td>
                            <td> {% for contacto in proveedor.get_contactos %}
                                    <ul>
                                        <li> <b style="color: black;">Nombre: </b>{{ contacto.nombre }}</li>
                                        <li> <b style="color: black;">Puesto: </b>{{ contacto.puesto }}</li>
                                        <li> <b style="color: black;">Celular: </b>{{ contacto.numero }}</li>
                                        <li> <b style="color: black;">Correo Electrónico: </b>{{ contacto.correo }}</li>
                                    </ul>
                                {% endfor%}
                            </td>
                            <td class="text-center">
                                {% if proveedor.activo %}
                                    <span class="label label-success label-rouded"> Activo <i
                                            class="icon-lock-open"></i></span>
                                {% else %}
                                    <span class="label label-danger label-rouded"> Inactivo <i
                                            class="icon-lock"></i></span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <button class="btn btn-info" data-toggle="tooltip"
                                        data-placement="top" title="Editar"
                                        onclick="ShowInformationEdit('{{ proveedor.pk }}','{{ proveedor.nombre }}','{{ proveedor.nombre_corto }}', '{{ proveedor.direccion }}','{{ proveedor.numero }}','{{ proveedor.calle}}','{{ proveedor.cp}}','{{ proveedor.cuidad.estado.pais.id}}','{{ proveedor.cuidad.estado.id}}','{{ proveedor.cuidad.id}}',`{{ proveedor.get_contactos}}`)">
                                    <i class="ti-pencil-alt"></i></button>

                                {% if proveedor.activo %}
                                    <button class="btn btn-danger" data-toggle="tooltip"
                                            data-placement="top" title="Desactivar"
                                            onclick="ActivateDeactivateProveedor('{{ proveedor.pk }}', true)"><i
                                            class="icon-lock"></i></button>
                                {% else %}
                                    <button class="btn btn-success" data-toggle="tooltip"
                                            data-placement="top" title="Activar"
                                            onclick="ActivateDeactivateProveedor('{{ proveedor.pk }}', '')"><i
                                            class="icon-lock-open"></i></button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!--- Modal crear nuevo proveedor -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myLargeModalLabel"><i class="icon-user-follow ml-3"
                                                                      style="font-size: 1.5rem"></i> Nuevo Proveedor
                    </h4>
                </div>
                <form class="floating-labels" id="form-new-proveedor" style="font-size: 15px !important;"
                      onsubmit="SaveNewProveedor(event)">
                    <div class="modal-body">
                        <h4 class="text-center"> Datos para el proveedor</h4>
                        {% csrf_token %}
                        <input type="hidden" id="listContactos" name="listContactos">
                        <div class="row mt-5">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="nombre_proveedor"
                                           name="nombre_proveedor"
                                           required><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Proveedor (<b>*</b>)</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="nombre_corto_proveedor"
                                           name="nombre_corto_proveedor" required><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Nombre corto (<b>*</b>)</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="direccion_proveedor"
                                           name="calle_proveedor" required><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Calle (<b>*</b>)</label> 
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="direccion_proveedor"
                                           name="numero_proveedor" required><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Número (<b>*</b>)</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="direccion_proveedor"
                                           name="cp_proveedor" required><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Código Postal (<b>*</b>)</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <select class="form-control" id="pais_proveedor" onchange="loadEstados(this.value)"
                                            required>
                                        <option> Seleccione un país</option>
                                        {% for pais in paises %}
                                            <option value="{{ pais.id }}"> {{ pais.nombre }} / {{ pais.clave }}</option>
                                        {% endfor %}
                                    </select><span class="highlight"></span> <span class="bar"></span>
                                    <label for="input6">País (<b>*</b>)</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <select class="form-control" id="estado_proveedor" onchange="loadCiudades(this.value)"
                                            required>
                                        <option> Seleccione un estado</option>
                                    </select><span class="highlight"></span> <span class="bar"></span>
                                    <label for="input6">Estado (<b>*</b>)</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <select class="form-control" id="ciudad_proveedor" name="ciudad_proveedor" required>
                                        <option> Seleccione una ciudad</option>
                                    </select><span class="highlight"></span> <span class="bar"></span>
                                    <label for="input6">Ciudad (<b>*</b>)</label>
                                </div>
                            </div>
                        </div>
                        <h4 class="text-center"> Datos de contacto</h4>
                        <div class="row mt-5">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="nombre_contacto" required><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Nombre </label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="puesto_contacto" required><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Puesto </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="numero_contacto" required><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Celular </label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="correo_contacto" required><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Correo Electrónico </label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                                <button type="button" class="btn btn-success" id="btnaddContacto" onclick="addContactoLista()"> Agregar Contacto</button>
                            </div>
                        </div>
                        <h4 class="text-center"> Contacto(s)</h4>
                        <div class="table-responsive">
                            <table id="myTable" class="table table-striped">
                                <thead>
                                <tr>
                                    <th> Nombre</th>
                                    <th> Puesto </th>
                                    <th> Celular </th>
                                    <th> Correo Electrónico</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="bodyContactos"> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-success waves-effect text-left"> Guardar
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--- ./Modal crear nuevo proveedor -->

    <!--- Modal editar proveedor -->

    <div class="modal" id="modal-edit-proveedor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myLargeModalLabel"><i class="ti-pencil-alt ml-3"
                                                                      style="font-size: 1.5rem"></i> Editar Proveedor
                    </h4>
                </div>
                <form class="floating-labels" id="form-edit-proveedor" style="font-size: 15px !important;"
                      onsubmit="SaveInformationEditProveedor(event)">
                    <div class="modal-body">
                        <h4 class="text-center"> Datos para el proveedor</h4>
                        <input type="hidden" name="proveedor" id="proveedor">
                        <input type="hidden" id="listContactos_update" name="listContactos">
                        {% csrf_token %}
                        <div class="row mt-5">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="nombre_proveedor_update"
                                           name="nombre_proveedor_update"
                                           required><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Proveedor (<b>*</b>)</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="nombre_corto_proveedor_update"
                                           name="nombre_corto_proveedor_update" required><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Nombre corto (<b>*</b>)</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="calle_proveedor_update"
                                           name="calle_proveedor_update" required><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Calle (<b>*</b>)</label> 
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="numero_proveedor_update"
                                           name="numero_proveedor_update" required><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Número (<b>*</b>)</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="cp_proveedor_update"
                                           name="cp_proveedor_update" required><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Código Postal (<b>*</b>)</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <select class="form-control" id="pais_proveedor_update" onchange="loadEstados(this.value,true)"
                                            required>
                                        <option> Seleccione un país</option>
                                        {% for pais in paises %}
                                            <option value="{{ pais.id }}"> {{ pais.nombre }} / {{ pais.clave }}</option>
                                        {% endfor %}
                                    </select><span class="highlight"></span> <span class="bar"></span>
                                    <label for="input6">País (<b>*</b>)</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <select class="form-control" id="estado_proveedor_update" onchange="loadCiudades(this.value,true)"
                                            required>
                                        <option> Seleccione un estado</option>
                                    </select><span class="highlight"></span> <span class="bar"></span>
                                    <label for="input6">Estado (<b>*</b>)</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <select class="form-control" id="ciudad_proveedor_update" name="ciudad_proveedor_update" required>
                                        <option> Seleccione una ciudad</option>
                                    </select><span class="highlight"></span> <span class="bar"></span>
                                    <label for="input6">Ciudad (<b>*</b>)</label>
                                </div>
                            </div>
                        </div>
                        <h4 class="text-center"> Datos de contacto</h4>
                        <div class="row mt-5">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="nombre_contacto_update"><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Nombre </label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="puesto_contacto_update"><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Puesto  </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="numero_contacto_update" ><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Celular </label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="correo_contacto_update"><span
                                        class="highlight"></span> <span class="bar"></span>
                                    <label for="input1"> Correo Electrónico </label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                                <button type="button" class="btn btn-success" id="btnaddContactoUpdate" onclick="addContactoLista()"> Agregar Contacto</button>
                            </div>
                        </div>
                        <h4 class="text-center"> Contacto(s)</h4>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th> Nombre</th>
                                    <th> Puesto </th>
                                    <th> Celular </th>
                                    <th> Correo Electrónico</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="bodyContactosUpdate"> 
                                </tbody>
                            </table>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-success waves-effect text-left"> Guardar
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--- ./Modal editar proveedor -->

    <!--- Modal Carga Masiva Proveedor -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel"><i class="ti-upload"></i> Carga Masiva</h4></div>
                <form id="form-new-carga-masiva" method="post" action="{% url 'catalogo:proveedor-new-cargamasiva' %}"
                      onsubmit="SaveCargaMasiva(event)" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <h5 class="text-center">Para la carga masiva es necesario que el archivo se encuentre en
                            <b>.csv</b>
                            con el formato que se muestra a continuación </h5>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th> Proveedor</th>
                                <th> Nombre Corto</th>
                                <th> Direccion</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>proveedor1</td>
                                <td>proveedor1</td>
                                <td>proveedor1</td>
                            </tr>
                            <tr>
                                <td>proveedor2</td>
                                <td>proveedor2</td>
                                <td>proveedor2</td>
                            </tr>
                            </tbody>
                        </table>
                        <h5 class="text-center"><b style="color: black">Seleccione el archivo</b></h5>
                        <input type="file" id="input-file" name="input-file" onchange="validateTypeFile(this.value)"
                               accept=".csv"
                               class="dropify" required/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success waves-effect">Guardar</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--- Modal Carga Masiva Producto -->





{% endblock %}
{% block javascript %}
    <script src="{% static 'assets/plugins/bower_components/datatables/jquery.dataTables.min.js' %}"></script>

    <script>
        var datatable = ''
        var proveedor_id = ''
        var primera_vez = true
        $(document).ready(function () {
            $('#myTable').DataTable({
                columnDefs: [{
                    orderable: false,
                    targets: [4]
                }],
                reponsive: true,
                "pageLength": 50,
                "language": {
                    "search": "Búsqueda",
                    "paginate": {
                        "first": "Primera",
                        "last": "Última",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                    "zeroRecords": "No se encontraron resultados",
                    "infoFiltered": "(filtrando de _MAX_ registros en total)",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ de registros",
                }
            });
        })


        const SaveNewProveedor = (e) => {
            e.preventDefault()
            {# Realizaremos la petición ajax por si hay algun error no recargar la página por completo    #}
            $.ajax({
                url: '{% url 'catalogo:proveedor-new' %}',
                type: 'POST',
                beforeSend: (xhr) => {
                    xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}')
                },
                data: $('#form-new-proveedor').serialize(),
                success: function (response) {
                    console.log(response, '<-------Response')
                    {# Una vez que obtuvimos una respuesta exitosa mostramos mensaje y recargaremos la pagina para actualizar la table #}
                    {#Swal.fire({#}
                    {#    title: '¡Éxito!',#}
                    {#    text: response.message,#}
                    {#    type: 'success',#}
                    {#    confirmButtonText: 'Aceptar'#}
                    {#s}).then((result) => {#}
                    {#    console.log(result)#}
                    {#    /* Read more about isConfirmed, isDenied below */#}
                    {#    if (result.value) {#}
                            window.location.reload()
                    {#    }#}
                    {#s})#}
                },
                error: (e) => {
                    Swal.fire({
                        title: '¡Error!',
                        text: e.responseJSON.message,
                        type: 'error',
                        confirmButtonText: 'Intentar nuevamente'
                    })
                }
            });

        }

        const ActivateDeactivateProveedor = (proveedor_pk, deactivate) => {
            {# Realizaremos la petición ajax por si hay algun error no recargar la página por completo    #}
            $.ajax({
                url: '{% url 'catalogo:proveedor-deactivate-activate' %}',
                type: 'POST',
                beforeSend: (xhr) => {
                    xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}')
                },
                data: {
                    proveedor_pk: proveedor_pk,
                    deactivate: deactivate
                },
                success: function (response) {
                    console.log(response, '<-------Response')
                    {#Una vez que obtuvimos una respuesta exitosa mostramos mensaje y recargaremos la pagina para actualizar la table #}
                    {#Swal.fire({#}
                    {#    title: '¡Éxito!',#}
                    {#    text: response.message,#}
                    {#    type: 'success',#}
                    {#    confirmButtonText: 'Aceptar'#}
                    {#s}).then((result) => {#}
                    {#    console.log(result)#}
                    {#    /* Read more about isConfirmed, isDenied below */#}
                    {#    if (result.value) {#}
                            window.location.reload()
                    {#    }#}
                    {#s})#}
                },
                error: (e) => {
                    Swal.fire({
                        title: '¡Error!',
                        text: e.responseJSON.message,
                        type: 'error',
                        confirmButtonText: 'Intentar nuevamente'
                    })
                }
            });
        }

        var arrContactoListUpdate = []
        const ShowInformationEdit = (proveedor_pk, nombre_proveedor, nombre_corto, direccion,numero,calle,cp,pais,estado,ciudad, contactos) => {
            arrContactoListUpdate = JSON.parse(contactos.replaceAll("'",'"'))
            {# Asignamos los valores generales del proveedor #}
            $('#nombre_proveedor_update').val(nombre_proveedor)
            $('#nombre_corto_proveedor_update').val(nombre_corto)
            $('#proveedor').val(proveedor_pk)
            $('#numero_proveedor_update').val(numero)
            $('#calle_proveedor_update').val(calle)
            $('#cp_proveedor_update').val(cp)
            $('#pais_proveedor_update').val(pais).trigger('onchange')
            console.log(estado)
            setTimeout(function () {
                $('#estado_proveedor_update').val(estado).trigger('onchange')
            }, 4000)
            setTimeout(function () {
                $('#ciudad_proveedor_update').val(ciudad)
                console.log('Se ejecuto')
            }, 7000)
            loadContactList(true)
            $('#btnaddContactoUpdate').removeAttr('onclick','onclick')
            $('#btnaddContactoUpdate').attr('onclick',`addContactoLista(undefined,true)`)
            $('#modal-edit-proveedor').modal('toggle')
        }

        const SaveInformationEditProveedor = (e) => {
            e.preventDefault()
            {# Realizaremos la petición ajax por si hay algun error no recargar la página por completo    #}
            $.ajax({
                url: '{% url 'catalogo:proveedor-edit' %}',
                type: 'POST',
                beforeSend: (xhr) => {
                    xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}')
                },
                data: $('#form-edit-proveedor').serialize(),
                success: function (response) {
                    console.log(response, '<-------Response')
                    {# Una vez que obtuvimos una respuesta exitosa mostramos mensaje y recargaremos la pagina para actualizar la table #}
                    {#Swal.fire({#}
                    {#    title: '¡Éxito!',#}
                    {#    text: response.message,#}
                    {#    type: 'success',#}
                    {#    confirmButtonText: 'Aceptar'#}
                    {#s}).then((result) => {#}
                    {#    console.log(result)#}
                    {#    /* Read more about isConfirmed, isDenied below */#}
                    {#    if (result.value) {#}
                            window.location.reload()
                    {#    }#}
                    {#s})#}
                },
                error: (e) => {
                    Swal.fire({
                        title: '¡Error!',
                        text: e.responseJSON.message,
                        type: 'error',
                        confirmButtonText: 'Intentar nuevamente'
                    })
                }
            });
        }

        const validateTypeFile = (file) => {
            if (file) {
                var extension = file.substring(file.lastIndexOf('.'), file.length)
                if (extension == '.csv') {
                    archivo_valido = true
                } else {
                    archivo_valido = false
                    Swal.fire({
                        title: '¡Error!',
                        text: 'El archivo seleccionado es invalido',
                        type: 'error',
                        confirmButtonText: 'Intentar nuevamente'
                    })
                }

            }
        }

        const SaveCargaMasiva = (e) => {
            {# Detenemos el evento submit#}

            if (!archivo_valido) {
                e.preventDefault()
                Swal.fire({
                    title: '¡Error!',
                    text: 'El archivo seleccionado es invalido',
                    type: 'error',
                    confirmButtonText: 'Intentar nuevamente'
                })
                return
            }
        }

        const loadEstados = (pais, update = false) => {
            {#Obtenemos el select en el cual se le apendaran los estados #}
            if (!update) {
                var select_body = $('#estado_proveedor')

            } else {
                var select_body = $('#estado_proveedor_update')
            }
            $.ajax({
                url: '{% url 'catalogo:estados-list' %}',
                type: 'GET',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}', pais: pais},
                success: function (data_val) {
                    console.log(data_val, '<------- Response Estado')
                    if (data_val.estados.length != 0) {
                        select_body.html('')
                        select_body.append(`<option> Seleccione un estado</option>`)
                        $.each(data_val.estados, function (key, estado) {
                            select_body.append(`
                                    <option value="${estado.id}"> ${estado.nombre} / ${estado.clave}</option>
                                `)
                        });
                    }

                }
            });
        }

        const loadCiudades = (estado, update = false) => {
            {#Obtenemos el select en el cual se le apendaran los estados #}
            if (!update) {
                var select_body = $('#ciudad_proveedor')

            } else {
                var select_body = $('#ciudad_proveedor_update')
            }
            $.ajax({
                url: '{% url 'catalogo:ciudades-list' %}',
                type: 'GET',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}', estado: estado},
                success: function (data_val) {
                    console.log(data_val, '<------- Response Estado')
                    if (data_val.ciudades.length != 0) {
                        select_body.html('')
                        select_body.append(`<option> Seleccione una ciudad</option>`)
                        $.each(data_val.ciudades, function (key, ciudad) {
                            select_body.append(`
                                    <option value="${ciudad.id}"> ${ciudad.nombre}</option>
                                `)
                        });
                    }

                }
            });
        }

        var contactList = []

        const addContactoLista = (pk = contactList.length + 1,update = false) => {
            var extCampo = ''
            var arrSelected = []
            if(update){
                arrSelected = arrContactoListUpdate
                extCampo = '_update'
                 $('#btnaddContactoUpdate').removeAttr('onclick','onclick')
                $('#btnaddContactoUpdate').attr('onclick',`addContactoLista(undefined,true)`)
            }else{
                arrSelected = contactList
                extCampo = ''
                 $('#btnaddContacto').removeAttr('onclick','onclick')
                $('#btnaddContacto').attr('onclick',`addContactoLista()`)
            }
            let idContacto = pk
            let nombreContacto = $(`#nombre_contacto${extCampo}`).val()
            let puestoContacto = $(`#puesto_contacto${extCampo}`).val()
            let numeroContacto = $(`#numero_contacto${extCampo}`).val()
            let correoContacto = $(`#correo_contacto${extCampo}`).val()
            const found = arrSelected.find(element  => element.pk == idContacto)
            if(found){
                found.nombre = nombreContacto
                found.puesto = puestoContacto
                found.correo = correoContacto
                found.numero = numeroContacto
            }else{
                arrSelected.push({
                    "pk": idContacto,
                    "nombre": nombreContacto,
                    "puesto": puestoContacto,
                    "correo": correoContacto,
                    "numero": numeroContacto
                })
            }

            $(`#nombre_contacto${extCampo}`).val('')
            $(`#puesto_contacto${extCampo}`).val('')
            $(`#numero_contacto${extCampo}`).val('')
            $(`#correo_contacto${extCampo}`).val('')
            $(`#listContactos${extCampo}`).val(JSON.stringify(arrSelected))
            if(update){
                arrContactoListUpdate = arrSelected
            }else{
                contactList = arrSelected
            }
            loadContactList(update)
        }


        const editContactList = (idContacto,update = false) =>{
            var arrSelected = []
            var extCampo = ''
            if(update){
                arrSelected = arrContactoListUpdate
                extCampo = '_update'
                $('#btnaddContactoUpdate').removeAttr('onclick','onclick')
                $('#btnaddContactoUpdate').attr('onclick',`addContactoLista(${idContacto},true)`)
            }else{
                arrSelected = contactList
                extCampo = ''
                $('#btnaddContacto').removeAttr('onclick','onclick')
                $('#btnaddContacto').attr('onclick',`addContactoLista(${idContacto})`)
            }
            const found = arrSelected.find(element  => element.pk == idContacto)
            $(`#nombre_contacto${extCampo}`).val(found.nombre)
            $(`#puesto_contacto${extCampo}`).val(found.puesto)
            $(`#numero_contacto${extCampo}`).val(found.numero)
            $(`#correo_contacto${extCampo}`).val(found.correo)

           
        }


        const deleteContactList = (idContacto,update = false) =>{
            var arrSelected = []
            if(update){
                arrSelected = arrContactoListUpdate
            }else{
                arrSelected = contactList
            }
            Swal.fire({
                title: '¡Peligro!',
                text: '¿Borrar contacto del proveedor?',
                type: 'warning',
                confirmButtonText: 'Aceptar'
            }).then((result) => {
                console.log(result)
                /* Read more about isConfirmed, isDenied below */
                if (result.value) {
                    arrSelected.splice(arrSelected.findIndex(element => element.id == idContacto), 1)
                    if(update){
                         $(`#listContactos_update`).val(JSON.stringify(arrSelected))
                         arrContactoListUpdate = arrSelected
                    }else{
                         $(`#listContactos`).val(JSON.stringify(arrSelected))
                         contactList = arrSelected
                    }
                    loadContactList(update)
                }
            })
        }


        const loadContactList = (update = false) =>{
            var arrSelected = []
            var bodyTable;
            if (update){
                bodyTable = $('#bodyContactosUpdate')
                arrSelected = arrContactoListUpdate
            }else{
                bodyTable = $('#bodyContactos')
                arrSelected = contactList
            }
            bodyTable.html('')
            arrSelected.map((contacto)=>{
                bodyTable.append(`
                    <tr> 
                        <td> ${contacto.nombre} </td>
                        <td> ${contacto.puesto} </td>
                        <td> ${contacto.numero} </td>
                        <td> ${contacto.correo} </td>
                        <td> 
                            <button type="button" class="btn btn-info waves-effect text-left" ${update ? `onclick="editContactList(${contacto.pk},true)` : `onclick="editContactList(${contacto.pk})`}"> 
                                <i class="ti-pencil-alt"></i>
                            </button>
                            <button type="button" class="btn btn-danger waves-effect text-left" ${update ? `onclick="deleteContactList(${contacto.pk},true)` : `onclick="deleteContactList(${contacto.pk})`}">
                                <i class="ti-trash"></i>
                            </button>
                        </td>
                    </tr>
                `)
            });
        }

    </script>


{% endblock %}